/* Portfolio Section Styles */
.portfolio_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.portfolio_area .dreamit-section-sub-title h5:after{
    position: absolute;
    content: "";
    height: 2px;
    width: 55px;
    top: 15px;
    left: -61px;
    background: #E54D1E;
} 

.dreamit-single-portfolio {
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 2px 0 20px rgb(0 0 0 / 4%);
    transition:.5s;
}

.dreamit-single-portfolio:hover{
    box-shadow: 2px 0 33px rgb(0 0 0 / 16%);
}

.dreamit-single-portfolio:hover .portfolio-content{
    bottom:0;
    opacity:1;
}

.dreamit-single-portfolio:hover .fortfolio-addrees{
    right:0;
}

.dreamit-portfolio-thumb {
    position: relative;
}

.dreamit-portfolio-thumb:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: rgb(252,253,254,0.4);
    top: 0;
    left: 0;
    transition: .5s;
    opacity:0;
}

.dreamit-single-portfolio:hover .dreamit-portfolio-thumb:before{
    opacity:1;
}

.portfolio_nav {
    margin-bottom: 41px;
}

.portfolio_menu ul {
    text-align: center;
    list-style: none;
}

.portfolio_menu ul li {
    display: inline-block;
    margin: 0 14px;
    cursor: pointer;
}

.portfolio_menu ul li a{
    display: block;
    color:#fff;
    text-transform:uppercase;
    position:relative;
    transition:.5s;
}

.portfolio_menu ul li a:before {
    position: absolute;
    content: "";
    left: 0;
    top: 24px;
    height: 2px;
    width: 0%;
    background: #fff;
    transition:.5s;
}

.portfolio_nav ul li {
    background: transparent;
    border: medium none;
    font-size: 16px;
    line-height: 1;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0;
    position: relative;
    margin: 12px 60px 12px 0;
    margin-bottom: 7px;
    display: inline-block;
    border-radius: 5px;
    color: #001d23;
}

.portfolio_nav ul li:before{
    position: absolute;
    content:"";
    top:25px;
    right: 0;
    bottom:0;
    height: 2px;
    width: 0;
    transition:.5s;
    background:#E54D1E;
}

.portfolio_nav ul li:hover:before{
    left:0;
    width: 100%;
}

.portfolio_nav ul li:hover, .portfolio_nav ul li.current_menu_item {
    color: #E54D1E;
    position: relative;
}

.portfolio-content {
    padding: 86px 0 17px 26px;
    background: #fff;
    position: absolute;
    bottom: -59%;
    clip-path: polygon(0% 1%,113% 31%,100% 100%, 0 101%);
    z-index: 1;
    opacity: 0;
    transition:.5s;
}

.portfolio-content h2 {
    font-size: 24px;
    color: #E54D1E;
    margin: 0 0 12px;
    letter-spacing: 1px;
}

.portfolio-content p {
    font-size: 15px;
}

.fortfolio-addrees {
    position: absolute;
    top: 134px;
    right: -128px;
    background: #052f5f;
    height: 100px;
    width: 126px;
    text-align: center;
    line-height: 85px;
    clip-path: polygon(0% 72%,101% 4%,100% 100%, 0 72%);
    transition: .5s;
}

.fortfolio-addrees ul li a {
    color: #fff;
    position: relative;
    left: 33px;
    top: 9px;
    font-size: 18px;
    display: inline-block;
}

.portfolio_area .shape {
    position: absolute;
    top: 73px;
    left: 10%;
    z-index: -1;
}

.portfolio_area .shape2 {
    position: absolute;
    top: 40%;
    right: 11%;
    z-index: -1;
}

/* Portfolio section style two */
.portfolio_area.style-two{
   background: linear-gradient(-70deg, #E54D1E, #FFCB5A, #F1B7C1, #E54D1E);
  background-size: 400% 400%;
  animation:gradient 20s ease infinite;  
}

.portfolio_area.style-two .dreamit-single-portfolio {
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 2px 0 20px rgb(0 0 0 / 4%);
    transition: .5s;
    border-top: 5px solid#E54D1E;
}

.single-portfolio-content {
    position: absolute;
    bottom:0;
    transition: .5s;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: all 300ms linear 0ms;
    -khtml-transition: all 300ms linear 0ms;
    -moz-transition: all 300ms linear 0ms;
    -ms-transition: all 300ms linear 0ms;
    -o-transition: all 300ms linear 0ms;
    transition: all 300ms linear 0ms;
    opacity: 0;
    -webkit-transform: perspective(500px)rotateX(-90deg);
    -khtml-transform: perspective(500px)rotateX(-90deg);
    -moz-transform: perspective(500px)rotateX(-90deg);
    -ms-transform: perspective(500px)rotateX(-90deg);
    -o-transform: perspective(500px)rotateX(-90deg);
    transform: perspective(500px)rotateX(-90deg);
    background: #052f5f;
}

.dreamit-single-portfolio:hover .single-portfolio-content {
    opacity: 1;
    -webkit-transform: perspective(500px)rotateX(0);
    -khtml-transform: perspective(500px)rotateX(0);
    -moz-transform: perspective(500px)rotateX(0);
    -ms-transform: perspective(500px)rotateX(0);
    -o-transform: perspective(500px)rotateX(0);
    transform: perspective(500px)rotateX(0);
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    transition-delay: .2s;
}

.portfolio-content-two {
    background: #202766;
    padding: 55px 19px 17px 37px;
    position: relative;
}

.portfolio-content-two h2 {
    font-size: 24px;
    color: #fff;
    margin: 0 0 22px;
    position: relative;
    display: inline-block;
}

.portfolio-content-two h2:before {
    position: absolute;
    content: "";
    top: 37px;
    left: 0;
    height: 2px;
    width: 62px;
    background: #E54D1E;
}

.portfolio-content-two p {
    color: #fff;
}

.fortfolio-addrees-two {
    position: absolute;
    top: -33px;
    left: 0;
    transform: translateX(44%);
    right: 0;
    margin: auto;
}

.fortfolio-addrees-two ul li {
    display: inline-block;
}

.portfolio_area.style-two .fortfolio-addrees-two ul li a {
    left: 0;
    top: 0;
    background: #E54D1E;
    height: 57px;
    width: 57px;
    text-align: center;
    line-height: 57px;
    display: inline-block;
    border-radius: 100%;
    color: #fff;
}

@keyframes gradient {
  0% {
    background-position: 10% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 30% 50%;
  }
} 