
<div class="about-section style-two pt-60 pb-100" id="company">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-6 p-0 wow fadeInUp" data-wow-delay=".2s">
				<div class="dreamit-section-title pb-30">
					<!-- <div class="dreamit-section-sub-title">
						<h5>{{ 'ABOUT_GROWING_WITH_IT_SOFT' | translate }}</h5>
					</div> -->
					<div class="dreamit-section-main-title">
						<h1><span>{{ 'ABOUT_BUSINESS' | translate }}</span> </h1>
					</div>
					<div class="dreamit-section-content-text">
						<p>{{ 'ABOUT_DESC' | translate }}</p>
					</div>
					<!-- <div class="row pt-20">
						<div class="col-lg-6 col-md-6">
							<div class="single-about-icon-box d-flex">
								<div class="single-about-icon">
									<i class="flaticon-checked"></i>
								</div>
								<div class="about-content">
									<p>{{ 'ABOUT_CONSULTANCY_CUSTOMERS_MEET' | translate }}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="single-about-icon-box d-flex">
								<div class="single-about-icon">
									<i class="flaticon-checked"></i>
								</div>
								<div class="about-content">
									<p>{{ 'ABOUT_CONSULTANCY_CUSTOMERS_MEET' | translate }}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="single-about-icon-box d-flex">
								<div class="single-about-icon">
									<i class="flaticon-checked"></i>
								</div>
								<div class="about-content">
									<p>{{ 'ABOUT_CONSULTANCY_CUSTOMERS_MEET' | translate }}</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="single-about-icon-box d-flex">
								<div class="single-about-icon">
									<i class="flaticon-checked"></i>
								</div>
								<div class="about-content">
									<p>{{ 'ABOUT_CONSULTANCY_CUSTOMERS_MEET' | translate }}</p>
								</div>
							</div>
						</div>
					</div> -->
					<!-- <div class="about-btn mt-25">
						<a href="#">{{ 'ABOUT_VIEW_PORTFOLIO' | translate }} <i class="flaticon-arrow-pointing-to-right"></i></a>
					</div> -->
				</div>
			</div>
			<div class="col-lg-6 col-md-6 p-0 wow fadeInUp" data-wow-delay=".4s">
				<div class="about-thumb">
					<img src="assets/images/about/1.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
