<!--==================================================-->
<!--START TEAM SECTION-->
<!--===================================================-->
<div class="team-section pt-80 pb-100" id="team">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="dreamit-section-title pb-30 ">
					<div class="dreamit-section-sub-title wow fadeInUp" data-wow-delay=".2s">
						<h5>Our Experts Team</h5>
					</div>
					<div class="dreamit-section-main-title wow fadeInUp" data-wow-delay=".3s">
						<h1><span>Meet Our</span><br>Professionals </h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-40">
			<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".3s">
				<div class="single-team-box">
					<div class="team-thumb">
						<img src="assets/images/team/team1.png" alt="">
					</div>
					<div class="team-content">
						<span>HR Manager</span>
						<h2>Melissa Leblanc</h2>
						<p>Efficiently formulate interdepers infrastructures</p>
						<div class="team-btn">
							<a href="#">VIEW PROFILE <i class="fas fa-plus"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".4s">
				<div class="single-team-box">
					<div class="team-thumb">
						<img src="assets/images/team/team2.png" alt="">
					</div>
					<div class="team-content">
						<span>Founder</span>
						<h2>Kendrick Hart</h2>
						<p>Efficiently formulate interdepers infrastructures</p>
						<div class="team-btn">
							<a href="#">VIEW PROFILE <i class="fas fa-plus"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".5s">
				<div class="single-team-box">
					<div class="team-thumb">
						<img src="assets/images/team/team3.png" alt="">
					</div>
					<div class="team-content">
						<span>C.Executive</span>
						<h2>Brain Forexive</h2>
						<p>Efficiently formulate interdepers infrastructures</p>
						<div class="team-btn">
							<a href="#">VIEW PROFILE <i class="fas fa-plus"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".6s">
				<div class="single-team-box">
					<div class="team-thumb">
						<img src="assets/images/team/team4.png" alt="">
					</div>
					<div class="team-content">
						<span>Team Director</span>
						<h2>Rusha Lebanon</h2>
						<p>Efficiently formulate interdepers infrastructures</p>
						<div class="team-btn">
							<a href="#">VIEW PROFILE <i class="fas fa-plus"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
