/*start testi section*/
.testi-section {
    /* background: url(assets/images/testi/bg.png); */
    background-repeat: no-repeat;
    position: relative;
    z-index: 22;
    margin-top: -129px;
}
.single-testi-box {
    background: #052850;
    padding: 62px 26px 36px 31px;
    position: relative;
    z-index: 1;
    transition: .5s;
    margin: 42px 0 0;
}
.single-testi-box:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    transition: .5s;
    z-index: -1;
    background: #E54D1E;
}
.single-testi-box:hover:before{
    width:100%;
    left:0;
}
.single-testi-box:hover .testi-thumb:before{
    border: 1px solid#fff;
}
.single-testi-box:hover .testi-icon ul li{
    color:#fff;
}
.single-testi-box:hover .testi-inner-content{
    border-top:1px solid#fff;
}
.single-testi-box:hover .testi-inner-content span{
    color:#fff;
}
.thumb {
    position: absolute;
    top: -38px;
    transition: .5s;
}
.testi-thumb {
    position: relative;
    z-index: 1;
}
.testi-thumb:before {
    position: absolute;
    content: "";
    top: 6px;
    left: 7px;
    height: 82px;
    width: 81px;
    border: 1px solid#E54D1E;
    z-index: -1;
    transition: .5s;
}
.testi-thumb img {
    position: absolute;
}
.testi-content p {
    color: #fff;
    margin: 13px 0 18px;
}
.testi-inner-content {
    border-top: 1px solid#2A486A;
    padding-top: 18px;
    transition:.5s;
}
.testi-inner-content h2 {
    font-size: 22px;
    color: #fff;
    margin: 0 0 19px;
    position: relative;
}
.testi-inner-content h2:before {
    position: absolute;
    content: "";
    height: 1px;
    width: 60px;
    background: #E54D1E;
    top: 36px;
    left: 0;
}
.testi-inner-content span {
    color: #E54D1E;
    margin: 0;
    transition:.5s;
}
.testi-icon {
    position: absolute;
    right: 28px;
    bottom: 50px;
    transition:.5s;
}
.testi-icon ul li {
    display: inline-block;
    color: #E54D1E;
    font-size: 15px;
    transition:.5s;
}
/*testi shape*/
.testi-section .shape {
    position: absolute;
    top: 26%;
    left: 10%;
}
.testi-section .shape2 {
    position: absolute;
    top: 41%;
}

/*testi owl dots*/
.testi_list .owl-dots {
    position: relative;
    top: 63px;
    text-align: center;
}
/*testimonial section*/
.testi-section.style-two {
    background: transparent;
    margin-top: 0;
}
.testi-section.style-two .single-testi-box {
    background: #FDF4F7;
    padding:37px 16px 36px 106px;
    margin: 0 0 30px;
    border-radius: 7px 7px 7px 0;
}
.testi-section.style-two .single-testi-box:before{
    display: none;
}
.testi-section.style-two .single-testi-box:after {
    content: '';
    bottom: -30px;
    top: auto;
    border-color: #FDF4F7 transparent transparent #FDF4F7;
    display: block;
    position: absolute;
    left: 0;
    margin-left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px;
}
.testi-section.style-two .single-testi-thumb-two {
    margin-right: 3px;
}
.testi-section.style-two .testi-inner-content {
    border-top: none;
}
.testi-section.style-two .testi-thumb:before {
    display: none;
}
.testi-section.style-two .testi-thumb {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}
.testi-section.style-two .single-testi-thumb-two img {
    border-radius: 100%;
    width: 86%;
}
.testi-section.style-two .testi-inner-content h2 {
    color: #E54D1E;
    margin: 0 0 4px;
}
.testi-section.style-two .testi-inner-content h2:before{
    display: none;
} 
.testi-section.style-two .testi-content-text p {
    color: #202766;
    margin: 0 0 28px;
    font-size: 18px;
}
.single-testi-thumb {
    position: relative;
    left: -176px;
    top: 25px;
}
.testimonial-content {
    overflow: hidden;
}
.single-testi-inner-content h2 {
    color: #E54D1E;
    font-size: 22px;
    margin: 0 0 3px;
}
.testi-section.style-two .shape5 {
    position: absolute;
    top: 18%;
    left: 6%;
}
.testi-section.style-two .shape3 {
    position: absolute;
    top: 142px;
    z-index: -1;
    left: 181px;
}
.testi-section.style-two .owl-dots {
    top: 6px;
    left: 50px;
}
/*testimonial aection upper*/
.testi-section.upper{
    background: transparent;
}
.testi-section.upper .testi_list .owl-dots {
    top: 17px;
}
/*testimonial section style four*/
.testi-section.style-four{
    background: transparent;
    margin-top:0;
} 