<!--==================================================-->
<!--START TESTIMONIAL SECTION-->
<!--===================================================-->
<div class="testi-section style-two pt-50 pb-90">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="single-testi-thumb wow fadeInUp" data-wow-delay=".2s">
          <img src="assets/images/testi/testi2.png" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="dreamit-section-title pb-20 wow fadeInUp" data-wow-delay=".4s">
          <div class="dreamit-section-sub-title">
            <h5>CLIENT TESTIMONIALS</h5>
          </div>
          <div class="dreamit-section-main-title">
            <h1><span>What Client Say </span> <br>About IT-Soft</h1>
          </div>
          <div class="dreamit-section-content-text">
            <p>Rapidiously reconceptualize effective innovation without cross-unit of the Distinctively enable value-added strategic.</p>
          </div>
        </div>
        <div class="row">
          <div class="testi_list2 owl-carousel">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay=".2s">
              <div class="single-testi-box">
                <div class="testimonial-content">
                  <div class="testi-content-text">
                    <p>Proactively maintain flexible experience through multimedia based deliverable. Distinctively thats business synergy.</p>
                  </div>
                  <div class="testi-inner-box d-flex align-items-center">
                    <div class="single-testi-thumb-two">
                      <img src="assets/images/testi/one.png" alt="">
                    </div>
                    <div class="single-testi-inner-content">
                      <h2>Melissa Leblanc</h2>
                      <span>UI/UX Designer</span>
                    </div>
                  </div>
                </div>
                <div class="shape5">
                  <img src="assets/images/testi/icon.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="single-testi-box">
                <div class="testimonial-content">
                  <div class="testi-content-text">
                    <p>Proactively maintain flexible experience through multimedia based deliverable. Distinctively thats business synergy whereas.</p>
                  </div>
                  <div class="testi-inner-box d-flex align-items-center">
                    <div class="single-testi-thumb-two">
                      <img src="assets/images/testi/one.png" alt="">
                    </div>
                    <div class="single-testi-inner-content">
                      <h2>Melissa Leblanc</h2>
                      <span>UI/UX Designer</span>
                    </div>
                  </div>
                </div>
                <div class="shape5">
                  <img src="assets/images/testi/icon.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="single-testi-box">
                <div class="testimonial-content">
                  <div class="testi-content-text">
                    <p>Proactively maintain flexible experience through multimedia based deliverable. Distinctively thats business synergy whereas.</p>
                  </div>
                  <div class="testi-inner-box d-flex align-items-center">
                    <div class="single-testi-thumb-two">
                      <img src="assets/images/testi/one.png" alt="">
                    </div>
                    <div class="single-testi-inner-content">
                      <h2>Melissa Leblanc</h2>
                      <span>UI/UX Designer</span>
                    </div>
                  </div>
                </div>
                <div class="shape5">
                  <img src="assets/images/testi/icon.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shape rotateme">
    <img src="assets/images/testi/shape1.png" alt="">
  </div>
  <div class="shape3 wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
    <img src="assets/images/testi/shape3.png" alt="">
  </div>
</div> 