<!--==================================================-->
<!--START FEATURE SECTION-->
<!--===================================================-->
<div class="feature-section style-two pt-100 pb-70" id="service">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="dreamit-section-title pb-30">
					<div class="dreamit-section-main-title">
						<h1><span>{{ 'SERVICES_TITLE_SPAN' | translate }}</span> </h1>
					</div>
				</div>
			</div>
			<div class="row pt-15" style="
			margin-right: 5px;
			margin-left: 15px;
		">
				<div class="col-lg-4 wow fadeInLeft" data-wow-delay=".1s">
					<div class="single-feature-box d-flex">
						<div class="feature-icon">
							<i class="flaticon-human-resources"></i>
						</div>
						<div class="feature-content">
							<h2>{{ 'SERVICE_WEB_TITLE' | translate }}</h2>
							<p>{{ 'SERVICE_WEB_DESC' | translate }}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay=".2s">
					<div class="single-feature-box d-flex">
						<div class="feature-icon">
							<i class="flaticon-open-book"></i>
						</div>
						<div class="feature-content">
							<h2>{{ 'SERVICE_MOBILE_TITLE' | translate }}</h2>
							<p>{{ 'SERVICE_MOBILE_DESC' | translate }}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay=".3s">
					<div class="single-feature-box d-flex">
						<div class="feature-icon">
							<i class="flaticon-share"></i>
						</div>
						<div class="feature-content">
							<h2>{{ 'SERVICE_ENTERPRISE_TITLE' | translate }}</h2>
							<p>{{ 'SERVICE_ENTERPRISE_DESC' | translate }}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay=".4s">
					<div class="single-feature-box d-flex">
						<div class="feature-icon">
							<i class="flaticon-24-hours"></i>
						</div>
						<div class="feature-content">
							<h2>{{ 'SERVICE_CONSULTING_TITLE' | translate }}</h2>
							<p>{{ 'SERVICE_CONSULTING_DESC' | translate }}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay=".5s">
					<div class="single-feature-box d-flex">
						<div class="feature-icon">
							<i class="flaticon-24-hours"></i>
						</div>
						<div class="feature-content">
							<h2>{{ 'SERVICE_DIGITAL_TITLE' | translate }}</h2>
							<p>{{ 'SERVICE_DIGITAL_DESC' | translate }}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay=".6s">
					<div class="single-feature-box d-flex">
						<div class="feature-icon">
							<i class="flaticon-24-hours"></i>
						</div>
						<div class="feature-content">
							<h2>{{ 'SERVICE_AI_TITLE' | translate }}</h2>
							<p>{{ 'SERVICE_AI_DESC' | translate }}</p>
						</div>
					</div>
				</div>
				<!-- <div class="col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay=".5s">
					<div class="feature-btn mt-35">
						<a href="#">{{ 'SERVICES_BUTTON' | translate }} <i class="flaticon-arrow-pointing-to-right"></i></a>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>
