/* Call to Action Section Styles */
.call-do-action {
    position: relative;
    margin-bottom: -127px;
}

.row.upper4 {
    background: #fff;
    box-shadow: 0 0 20px rgb(0 0 0/14%);
    padding: 46px 46px 19px 37px;
}

.call-do-action .dreamit-section-main-title h1 {
    font-size: 42px;
    margin: 0;
}

.cll-do-icon i {
    display: inline-block;
    color: #E54D1E;
    font-size: 50px;
}

.call-do-content h2 {
    margin: 0 0 7px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
}

.single-call-box {
    margin-top: -20px;
} 