<!-- Call to Action Section -->
<div class="call-do-action">
  <div class="container">
    <div class="row upper4">
      <div class="col-lg-5 col-md-12">
        <div class="dreamit-section-title pb-30">
          <div class="dreamit-section-sub-title wow fadeInUp" data-wow-delay=".2s">
            <h5>{{ 'CALL_TO_ACTION_FIND_US_NOW' | translate }}</h5>
          </div>
          <div class="dreamit-section-main-title wow fadeInUp" data-wow-delay=".3s">
            <h1>{{ 'CALL_TO_ACTION_GET_IN' | translate }}<span>{{ 'CALL_TO_ACTION_TOUCH' | translate }}</span> </h1>
          </div>
          <div class="dreamit-section-content-text wow fadeInUp" data-wow-delay=".4s">
            <p>{{ 'CALL_TO_ACTION_DESC' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="row">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
            <div class="single-call-box">
              <div class="cll-do-icon">
                <i class="flaticon-email-3"></i>
              </div>
              <div class="call-do-content">
                <h2>{{ 'CALL_TO_ACTION_EMAIL_US' | translate }}</h2>
                <span>{{ 'CALL_TO_ACTION_EMAILS' | translate }}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".3s">
            <div class="single-call-box">
              <div class="cll-do-icon">
                <i class="flaticon-phone-call"></i>
              </div>
              <div class="call-do-content">
                <h2>{{ 'CALL_TO_ACTION_CALL_US' | translate }}</h2>
                <span>{{ 'CALL_TO_ACTION_PHONES' | translate }}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".3s">
            <div class="single-call-box">
              <div class="cll-do-icon">
                <i class="flaticon-email-3"></i>
              </div>
              <div class="call-do-content">
                <h2>{{ 'CALL_TO_ACTION_ADDRESS' | translate }}</h2>
                <span>{{ 'CALL_TO_ACTION_ADDRESS_TEXT' | translate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 